# CODEOWNERS file
# This file defines code owners for the repository.

# Owner for the entire repository
*       @ozbillwang @figohuang @XinCai

# Contributor assignments
/password-checker/  @figohuang @ozbillwang @XinCai
/password-checker-backend/   @figohuang @ozbillwang @XinCai

